.button {
    margin: 1em;
}

li {
    margin: 1em 0;
}

li a {
    color: white;
}

body {
    color: white;
    background: white url("images/background.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
